<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ988o56TCJBgld8UkYdpsI3mpoHfqQDdKHTp2x0CSkvw&s" align="left" hight="180" width="180">
<h1 align="center" style="color:rgb(236, 18, 18);">Little Flower Degree & PG college</h1>
<h5 align="center" style="color:green">Uppal, Hyderabad, Telangana</h5>
<hr>
<h1> About Us</h1>
Little Flower Degree College, Uppal is a Catholic Minority Institution established by the Montfort Brothers of St. Gabriel. It was started in 2008 as a part of Little Flower Junior College, Hyderabad. At present the College buildings comprise two imposing Four storied-blocks. Spacious grounds and plenty of greenery all round, give the College an impressive look and create a congenial atmosphere for academic pursuits.The large and numerous classrooms have given rise to a substantial increase in students strength. We are proud to stand tall and be known as one of the best colleges in the city. It is our endeavor, to move forward with the willing and active co-operation of everyone who is a partner in the blossoming and grooming of "LITTLE FLOWERS".
<h3 style="color:blue">Vision:</h3>
Montfortian Education is committed to Gospel values of Equality, fraternity, freedom and human brotherhood, striving to transform the society through the education mission.

We, the Montfort Brothers of St. Gabriel together with all our associates, by our value based educational endeavors hope to build a fraternal society by moulding the personality of each individual under our care, trusting in God and drawing inspiration from our Founder St.Louis Marie De Montfort.

We shall strive to make socially conscious ad concerned individuals who reach the destined level of excellence and take up the resposibility as leader of intregrity with a preferential option for the less privileged.
<h3 style="color:blue">Mission:</h3>
We prepare the youth for life by promoting intellectual excellence, uprightness of character, emotional maturity, scientific temper, healthy competition, co-operation and sportsmanship through co-curricular activities, moral sensitivity to the needs and rights of others specially the most vulnerable, religious tolerance and national integration.

To achieve this along with academic excellence we focus our attention on the following.
