
<h1 align="center" style="color:rgb(236, 18, 18);">Sri Venkateswara Degree & PG college</h1>
<h5 align="center" style="color:green">12-3-415, Jesus Nagar, Anantapur, Andhra Pradesh 515001</h5>
<hr>
<br><br>
<h3 style="background-color:rgb(197, 230, 12)"><font style="color:hsl(0, 2%, 9%)">New Admission :</font></h3><hr>
<dl><h4 style="color:blueviolet">Admission Procedure</h4>
<dt><h5 style="color: brown;">Procedure & Guidelines for Admission</h5></dt>
<p>
    <dd><h6>Applicants should enclose the following along with their filled in application forms:
    </h6></dd>
    <ul type="square">
       <li>Two sets of Xerox copies of S.S.C.(in proof of date of Birth).</li>
       <li>Two sets of Xerox copies of the Marks memo of the Intermediate.</li>
       <li>Two sets of Xerox copies of the Transfer Certificate, Conduct and Study certificates.</li>
       <li>Two sets of Xerox Copies of Aadhar Card, Income Certificate or White Ration Card.</li>
       <li>Four self-addressed covers with Rs.5/- stamps affixed on each.</li>
       <li>2 Pass port size photographs and 3 stamp size Photographs.</li>
    </ul> </dl>