<h4 style="color:violet">Courses Available Here:</h4>
<h3 align="center" style="color:blue">Degree Courses</h3>
<table class="table table-bordered">
   
    <thead>
    <tr>
        <th>Courses</th>
        <th>Duration(Years)</th>
        
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>B.Sc(Physics,Electronics,Statistics)</td>
        <td>3</td>
        </tr>
        <tr>
            <td>B.Com(Commerce,Computers,Accounting,Marketing)</td>
            <td>3</td>
            </tr>
    <tr>
        <td>B.pharm</td>
                <td>3</td>
                </tr>
    <tr>
                    <td>B.A</td>
                            <td>3</td>
    <tr>
    <td>B.E</td>
     <td>3</td>

     <tr>
        <td>B.Ed</td>
                <td>3</td>
    </tr>
    <tr>
    <td>B.pharm</td>
        <td>3</td>
        </tr>
        <tr>
            <td>BBA</td>
                <td>3</td>
                </tr>

    </tbody>
    </table>
    
    <h4 align="center" style="color:brown">PG Courses</h4>
    <table class="table table-bordered">
      
    <thead>
      <tr>
        
        <th scope="col">Course</th>
        <th scope="col">Specialization</th>
        <th scope="col">Years</th>
      </tr>
      <tbody>
        <tr>
        
          <td>Master of Science(M.Sc)</td>
          <td>Mathematics, Statistics,Physics</td>
          <td>2</td>
        </tr>
        <tr>
           
            <td>Master of Commerce(M.Com)</td>
            <td>Professional</td>
            <td>2</td>
          </tr>
    </tbody>
</table>

